# Entorno virtual
env/
venv/
__pycache__/
*.pyc

# Archivos de usuario
*.sqlite3
*.log
datosIniciales

# Archivos de configuración
.env

# Archivos de Django
db.sqlite3
media/
staticfiles/
.env

# Archivos de diseño
archivos_disenio/